.vscode/
build/
build32/
build64/
dist/
fqchan01.egg-info/
python/fqchan01.*.pyd
python/fqchan01.*.so
python/fqchan01.cpp
.xmake/
*.exp
*.lib
*.zip
.tox/
.aider*
.env
dzh/fqchan01.dll
jzt/fqchan01.dll
jzt32/fqchan01.dll
kt/fqchan01.dll
tdx/fqchan01.dll
python/cpp