.vscode/
build/
.xmake/
*.exp
*.lib
*.zip
__pycache__/
fqcopilot.txt
.aider*
fqcopilot.egg-info/
python/fqcopilot.*.pyd
python/fqcopilot.*.so
python/fqcopilot.cpp
python/dist
.env
dzh/dlls/*.dll
jzt/dlls/*.dll
jzt32/dlls/*.dll
kt/dlls/*.dll
tdx/dlls/*.dll
tdx64/dlls/*.dll
mt5/dlls/*.dll