.header-main {
    display flex
    margin 0 auto
    margin-bottom 10px
    width 100%
    justify-content space-between
    .header-menu {
        display flex
        justify-content flex-start
    }
    .header-tip {
        display flex
        justify-content flex-end
    }
}
