.vscode/
build/
build32/
build64/
dist/
fqchan04.egg-info/
python/fqchan04.*.pyd
python/fqchan04.*.so
python/fqchan04.cpp
.xmake/
*.exp
*.lib
*.zip
.tox/
.aider*
.env
dzh/fqchan04.dll
jzt/fqchan04.dll
jzt32/fqchan04.dll
kt/fqchan04.dll
tdx/fqchan04.dll
tdx64/fqchan04.dll
mt5/fqchan04.dll
python/cpp
/nul
