.vscode/
build/
build32/
build64/
dist/
fqchan06.egg-info/
python/fqchan06.*.pyd
python/fqchan06.*.so
python/fqchan06.cpp
.xmake/
*.exp
*.lib
*.zip
.tox/
.aider*
.env
dzh/fqchan06.dll
jzt/fqchan06.dll
jzt32/fqchan06.dll
kt/fqchan06.dll
tdx/fqchan06.dll
tdx64/fqchan06.dll
python/cpp
/nul